.box{
	background-color: black;
	box-sizing: border-box;
	padding: 20px;
	margin: 40px;
	border: #DE6E36 10px dashed;
}

#white-box{
	background-color: white;
	padding-left: 10px;
	border: black 5px dashed;
	text-align: center;
	height: 1000px;
}

.small-box{
	background-color: black;
	box-sizing: border-box;
	padding: 20px;
	margin: 40px;
	border: #DE6E36 5px dashed;
	width: 700px;
	height: 325px;
	text-align: center;
}

.line{
	padding-left: 40px;
	font-size: 25px;
}

body img{
	height: 200px;
}

h2, p{
	font-size: 60px;
	margin: 0px;
	color: white;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

h3{
	color: white;
	font-size: 30px;
}

p{
	font-size: 12px;
}

.images{
	display: inline;
	margin: 150px;
	padding: 10px;
	vertical-align: middle;
}

#content{
	display: block;
	top: 90px;
    word-wrap: normal;
    white-space: nowrap;
}

body{
	background-image: url(img/dnd-background.jpg);
	background-size:1500px;
}

