.box{
	background-color: black;
	box-sizing: border-box;
	padding: 20px;
	margin: 40px 40px 0px 40px;
	border: #DE6E36 10px dashed;
}

.second-box{
	margin: 20px 40px 20px 40px;
	font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: space-around;
}

.third-box{
	margin: 20px 40px 20px 40px;
	font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
}

.row{
	margin: 0px 115px 0px 115px;
	background-color: white;
	font-size: 20px;
	width: 200px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.row-2{
	margin: 0px 118px 0px 118px;
	background-color: white;
	font-size: 20px;
	width: 200px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.row-2:nth-of-type(1){
	border: #98ADC4 5px dashed;
}

.row-2:nth-of-type(2){
	border: #A58249 5px dashed;
}

.row:nth-of-type(1){
	border: #9B1940 5px dashed;
}

.row:nth-of-type(2){
	border: #109DC2 5px dashed; 
}

.row:nth-of-type(3){
	border: #303638 5px dashed;
}

.image-box{
	margin: 20px 40px 20px 40px;
	display: flex;
	justify-content: space-around;
}

.image-box-2{
	margin: 20px 40px 20px 40px;
	display: flex;
	justify-content: center;
}

.image-row{
	background-color: white;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.image-row:nth-of-type(1){
	border: #9B1940 5px solid;
}

.image-row:nth-of-type(2){
	border: #109DC2 5px solid; 
}

.image-row:nth-of-type(3){
	border: #303638 5px solid;
}

.image-row-2{
	margin: 0px 118px 0px 118px;
	background-color: white;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.image-row-2:nth-of-type(1){
	border: #98ADC4 5px solid;
}

.image-row-2:nth-of-type(2){
	border: #A58249 5px solid; 
}

img{
	height: 200px;
}

h1{
	font-size: 60px;
	margin: 0px;
	color: white;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

body{
	background-image: url(img/dnd-background.jpg);
	width: 1400px;
}


